/* Category Section */
.categories-panel {
    height: 2.5rem;
    gap: 8rem;
    margin-top: 2rem;
}

input[type='radio'] {
    display: none;
}

.category-label {
    box-shadow: inset 0 0 gold;
    border-left: 0.3rem solid gold;
    cursor: pointer;
    user-select: none;
    transition-duration: 300ms;
}
.category-label:hover {
    color: black;
    box-shadow: inset 12rem 0 gold;
    border-left: 0.3rem solid gold;
    transition-duration: 300ms;
}

.category-push .icon {
    color: greenyellow;
    transition-duration: 300ms;
}
.category-push .icon:hover {
    color: green;
    transition-duration: 300ms;
}

.category-cancel .icon {
    color: pink;
    transition-duration: 300ms;
}
.category-cancel .icon:hover {
    color: red;
    transition-duration: 300ms;
}

.extra-category {
    display: flex;
    gap: 0.2rem;
}
.extra-category .icon {
    color: pink;
    transition-duration: 300ms;
}
.extra-category .icon:hover {
    color: red;
    transition-duration: 300ms;
}

.add-icon {
    cursor: pointer;
    padding-bottom: 0.5rem;
}
.add-icon .icon {
    color: greenyellow;
    transition-duration: 300ms;
}
.add-icon .icon:hover {
    color: green;
    transition-duration: 300ms;
}

.temp-input-box {
    justify-content: flex-start;
    opacity: 0;
    gap: 0;
}

input[type='text'].category-input {
    background-color: transparent;
    border: none;
    width: 100%;
    color: white;
}
input[type='text']:focus.category-input {
    outline: none;
}

.input-bar {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 0%;
    height: 0.13rem;
    transition: width 0.4s cubic-bezier(0.42, 0, 0.58, 1.00);
    background: linear-gradient(90deg, gold 0%, rgb(209, 178, 1) 50%, rgb(162, 138, 0) 100%);
}
.category-input:focus + .input-bar {
    left: 0;
    width: 100%;
    top: 2.5rem;
    background: linear-gradient(90deg, gold 0%, rgb(209, 178, 1) 50%, rgb(162, 138, 0) 100%);
    transition: width 0.2s cubic-bezier(0.42, 0, 0.58, 1.00);
}
.active {
    box-shadow: inset 12rem 0 gold;
    border-radius: 1rem 1rem 0 1rem;
    transition-duration: 300ms;
    color: black;
}
.category-label:active {
    box-shadow: inset 12rem 0 rgb(162, 138, 0);
    border-left: 0.3rem solid gold;
    border-radius: 1rem 1rem 0 1rem;
    transition-duration: 300ms;
    color: black;
}